node_modules/
payloads.json
.DS_Store
.env
crilTips.json
oxy.json
CrilPlace/Memory.json
token.json
credentials.json
drive.json
__pycache__/
Logs.log
coaching.log
ServerLog.log
Activities.json
Memory.json
*.pyc
*.cpython-310.pyc
SpreadSheet/Activities.json